@import 'general';

* {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.container {
    background-color: $very-dark-blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        width: 90%;
        background: linear-gradient(120deg, $dark-blue,$very-dark-blue );
        border-radius: 2rem;
        padding: 1.2rem;

        .card__rate__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            padding: 1.2rem;
            background: $dark-blue;
            border-radius: 50%;
        }

        .card__title {
            color:  $white;
            margin: .8rem 0;
        }

        .card__text {
            color: $light-grey;
            font-size: 15px;
            line-height: 1.5rem;
            margin: .8rem 0;
        }

        .card__rate__list {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
            margin: 2rem 0;   

            li {
                list-style-type: none;
                border-radius: 50%;

                .card__rate__btn{
                    background: $dark-blue;
                    border-radius: 50%;
                    color: $light-grey;
                    cursor: pointer;
                    width: 3.2rem;
                    height: 3.2rem;

                    &:hover {
                        background-color: $orange;
                        color: $white;
                    }

                    &:active {
                        background-color: $light-grey;
                        color: $white;
                    }
                    
                    &.active {
                        background-color: $light-grey;
                        color: $white;

                    }
                }
            }
        }

        .card__sbmt {
            display: block;
            width: 100%;
            padding: 1rem;
            border-radius: 2rem;
            background-color: $orange;
            text-transform: uppercase;
            color: $white;
            font-weight: 700;
            letter-spacing: 3px;
            margin-bottom: 1rem;

            &:hover {
                background-color: $white;
                color: $orange;
            }
        }

    }

    .card__thanks {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;

        .card__thanks__img {
            width: 10rem;
            margin: 1rem 0;
        }

        .card__thanks__btn {
            background: $dark-blue;
            color:  $orange;
            font-size: 12px;
            padding: .5rem 1rem;
            border-radius: 2rem;
            margin: 1.2rem 0;
        }        
    }
}


@media (min-width: 376px) {
    .card {
        max-width: 380px;
    }
}